.grid {
    --gap: 1.5em;
    min-height: 100vh;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(1fr,3);
    grid-template-rows: repeat(1fr,3);
    grid-template-areas: 'weather links .'
                         'time todo ship'
                         'points . ship';
    padding: 1em;
    gap: var(--gap);
    background: var(--background-color);
}
.grid > * {
    width: 100%;
    max-width: calc(100vw - 2em);
    border: 1px solid white;
    border-radius: 0.5em;
    padding: 1em;
    background: var(--background-color);
}

@media (hover: none) {
    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, auto);
        grid-template-areas: '.'
                            'time'
                            'links'
                            'todo',
                            'ship',
                            'points'
                            '.'
                            '.'
                            '.';
    }
}