.links {
    display: grid;
    grid-auto-columns: min-content;
    grid-auto-rows:min-content;
    grid-auto-flow: column;
    grid-gap: 0.5em;
    margin: 0;
    list-style: none;
    height: 100%;
    overflow-x:scroll;
    scroll-snap-type: x mandatory;
    padding: 1em;
    max-width: 768px;
}

.link {
    scroll-snap-align: start;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
    overflow: hidden;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    border-radius: 0.2em;
    padding: 1em;
    width: 4em;
    margin: 0;
    aspect-ratio: 1/1;
    box-shadow: calc(var(--x) * 10px) calc(var(--y) * 10px) 0.5em -0.3em black;
    transition-property: background-color;
}

.link a {
    flex: 1 0 auto;
    width:100%;
}

@media (hover: hover) {
    .link:hover {
        background-color: rgba(255,255,255,0.2);
    }
}

.link span {
    position:absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 10%;
}

.link p {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.link span:hover + button, .link button:hover {
    transform: translateX(-100%);
}

.link button {
    background-color: red;
    position:absolute;
    left: 100%;
    top: 0;
    height: 100%;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    z-index: 1;
}