.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.modal div {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal article {
    backdrop-filter: blur(10px);
    background-color: rgba(255,255,255,0.1);
    color: white;
    padding: 1em;
    max-height: calc(100vh - 2em);
    overflow-y: scroll;
}