.todo {
    margin: 0;
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    padding: 1em;

    scroll-snap-align: start;
    flex: 1 0 100%;
}

.todo h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.todo button {
    color: inherit;
    background-color: transparent;
    margin: 0 0 0 1em;
    font-size: 0.5em;
}

.todo li {
    cursor: pointer;
}

.todo li:not(.ticked) {
    order: -1;
}


.todo input {
    margin-top: auto;
}

.todo div {
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    max-height: 14rem;
}

.dots {
    list-style: none;
    margin :0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1em 0;
}

.dots li {
    margin: 0 0.2em;
    transition: background-color 0.2s ease-in-out;
}

.ticked {
    text-decoration: line-through;
}

.list-holder {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 100%;
    max-width: 768px;
}

.add-list-button {
    color: inherit;
    background-color: transparent;
    margin: 0 0 0 1em;
    font-size: 0.5em;
}