:root {
    --montserrat: 'Montserrat', var(--system);
}

body {
    font-family: var(--montserrat);
    font-display: swap;
}

* {
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition-property: none;
}

button {
    -webkit-appearance: none;
    transition-property: transform;
}

button:active, button:focus {
    outline: none;
}

@media (hover: hover) {
    button:hover {
        transform: scale(1.1);
    }
}