.links-container {
    perspective: 90em;
    grid-area: links;
    ul {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: auto;
        grid-row-gap: 1em;
        margin: 0;
        padding: 2em;
        transform-style: preserve-3d;
        transform-origin: center;
        transform: rotateX(calc(var(--mouse-y) * 0.1deg)) rotateY(calc(var(--mouse-x) * -0.1deg));

        &.editing button {
            display: flex;
        }
    }

    li {
        grid-column: auto / span 2;
        grid-row: auto / span 2;
        &:nth-child(5n + 1) {
            grid-column: 1 / span 2;
        }
        &:nth-child(5n + 2) {
            grid-column: 5 / span 2;
        }
        &:nth-child(5n + 3) {
            grid-column: 9 / span 2;
        }
        &:nth-child(5n + 4) {
            grid-column: 3 / span 2;
        }
        &:nth-child(5n + 5) {
            grid-column: 7 / span 2;
        }
        height: 0;
        padding-bottom: 86.5%;
        position: relative;
        transition: transform 0.2s ease-in-out;
        button {
            --size: 1rem;
            -webkit-appearance: none;
            position: absolute;
            width: var(--size);
            height: var(--size);
            border: none;
            font-size: calc(var(--size) * 0.75);
            display: none;
            top: calc(var(--size) / -2);
            // right: calc(var(--size) / -2);
            right: 0;
            padding: 0;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: $black;
            color: $white;
            border-radius: 50%;
            cursor: pointer;
        }
        &:hover {
            transform: scale(1.05);
        }
        a {
            clip-path: polygon(75% 0,100% 50%,75% 100%,25% 100%,0 50%,25% 0);
            background-color: $white;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            color: $black;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;

            &:hover {
                background-color: $blue;
            }
        }
    }
}