.list-container {
    grid-area: list;
    padding: 2em;
}

#listHolder {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    overflow-x:scroll;
    width: 320px;
    scroll-snap-type: x mandatory;
}

.list {
    flex: 1 0 80%;
    padding: 0 20% 0 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: scroll;
    max-height: 10em;
    scroll-snap-align: center;
    list-style: none;
    margin: 0;
    &:first-child {
        padding-left: 0px;
    }
    h2 {
        position: sticky;
        width:100%;
        top: 0;
        margin: 0;
        padding: 0.8em 0;
        button {
            background-color: transparent;
            color: $white;
            padding: 0;
            border: none;
            width: 0.7em;
            height: 0.7em;
            display:flex;
            cursor: pointer;
            svg {
                width: 100%;
                height: 100%;
            }
        }
    }
    &__item {
        order: 1;
        padding: 0.3em 0;
        cursor: pointer;
        transition: font-style 0.3s ease-in-out;
        &.ticked {
            order: 0;
            text-decoration: line-through;
        }
        &:hover {
            font-style:italic;
        }
    }
    &__control {
        padding: 0.8em 0;
        position: sticky;
        bottom: 0;
        order: 2;
    }
}