.search-container {
    grid-area: search;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    input {
        font-size: var(--step-4);
        -webkit-appearance: none;
        margin: 1em;
        border: none;
        border-bottom: 1px solid white;
        background-color: transparent;
        color: white;
        padding: 0.2em;
        &:focus, &:active {
            outline: none;
        }
    }
    @media screen and (max-width: 1140px) {
        display: none;
    }
}