.space-box {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1.2) translate(var(--translate-x), var(--translate-y));
    }
    grid-area: space;
    border: 3px solid white;
    overflow: hidden;
}