.time-container {
    grid-area: time;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: var(--step-5);
    }

    h2,h3 {
        display: inline-block;
    }
}