.weather-container {
    grid-area: weather;
    padding: 2em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;

    h4 {
        margin: 0;
    }
}