html, body {
    margin: 0;
}
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    @media screen and (max-width: 560px) {
        overflow: auto;
    }
}
main {
    display: grid;
    grid-template-columns: 320px 1fr 320px;
    grid-template-rows: 33.33vh 33.33vh 33.33vh;
    grid-template-areas:'weather search .' 
                        'list . .'
                        'list time links';
    position: relative;
    z-index: 1;

    @media screen and (max-width: 1140px) {
        grid-template-columns: 10vw 1fr 1fr 10vw;
        grid-template-areas: '. weather weather .'
                             '. time time .'
                             '. list links .';
        grid-template-rows: repeat(3, min-content);
    }

    @media screen and (max-width: 650px) {
        grid-template-columns: 2em 1fr 1fr 2em;
    }

    @media screen and (max-width: 560px) {
        grid-template-columns: 2em 1fr 2em;
        grid-template-areas: '. weather .'
                             '. time .'
                             '. list .'
                             '. links .';
        grid-template-rows: repeat(4, min-content);
    }
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    pointer-events: none;
}
@import './color';
@import './type';
@import './list';
@import './weather';
@import './time';
@import './search';
@import './space';
@import './links';
@import './shoelace';